.containter{
	width:1030px;
	margin:0 auto;
	display:flex;
	padding:40px 0 120px 0;
}
.list{
	width:26.50485436893204%;
	padding-right:1.6504854368932%;
	border-right:1px solid #bababa;
	margin-right:48px;
	height:324px;
}
.list li{
	border-bottom:4px solid transparent;
	height:81px;
	padding-left:20px;
}
.list li:hover{
	border-bottom:4px solid #fa9634;
}
.list li span{
	display:block;
	width:40px;
	height:46px;
	float:left;
	margin-top:18px;
	margin-right:10px;
}
.list li:first-of-type span{
	background:url(../images/service_03.jpg) no-repeat center center;
}
.list li:nth-of-type(2) span{
	background:url(../images/service_05.jpg) no-repeat center center;
}
.list li:nth-of-type(3) span{
	/*background:url(../images/service_08.jpg) no-repeat center center;*/
}
.list li:nth-of-type(4) span{
	background:url(../images/service_10.jpg) no-repeat center center;
}
.list li:first-of-type:hover span{
	background:url(../images/service_04.jpg) no-repeat center center;
}
.list li:nth-of-type(2):hover span{
	background:url(../images/service_06.jpg) no-repeat center center;
}
.list li:nth-of-type(3):hover span{
	background:url(../images/service_09.jpg) no-repeat center center;
}
.list li:nth-of-type(4):hover span{
	background:url(../images/service_11.jpg) no-repeat center center;
}
.list .active{
	border-bottom:4px solid #fa9634;
}
.active span{
	background:url(../images/service_09.jpg) no-repeat center center;
}
.list li a{
	display:block;
	font-size:22px;
	color:#222222;
	line-height:77px;
	float:left;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content{
	width:68.54368932038835%;
}
.content h4{
	font-size:18px;
	color:#fa9634;
	line-height:50px;
	font-weight:bold;
}
.content p{
	font-size:16px;
	color:#000;
	line-height:30px;
}
.content p span{
	font-size:22px;
	color:#000;
	font-weight:bold;
	margin-left:40px;
}
/*..............................................................断点1*/
@media only screen and (max-width:1000px ) {
	.containter{
		width:97%;
	}
	.list{
		width:28.96907216494845%;
	}
	.content{
		width:67.11340206185567%;
	}
}
/*.............................................................断点2*/
@media only screen and (max-width:760px ) {
	.containter{
		width:94.73684210526316%;
		flex-wrap:wrap;
		padding:20px 0 41px 0;
	}
	.list{
		width:100%;
		margin:0;
		border:none;
		padding:0;
		height:103px;
	}
	.list li{
		width:25%;
		float:left;
		padding:10px 0 0 0;
		height:103px;
	}
	.list li a{
		width:100%;
		font-size:20px;
		text-align:center;
		line-height:40px;
	}
	.list li span{
		margin:0 auto;
		float:none;
	}
	.content{
		width:100%;
	}
	.list li:hover{
		border-bottom:4px solid transparent;
	}
	.content p{
		text-indent:2em;
	}
	.content p span{
		font-size:18px;
	}
	.content p span:first-of-type{
		margin-left:0;
	}
}
/*...........................................................断点3*/
@media only screen and (max-width:480px ) {
	.containter{
		width:93.75%;
		padding:20px 0 41px 0;
	}
	.list li{
		height:94px;
		padding-top:10px;
	}
	.list li a{
		font-family:"宋体";
		font-size:16px;
		line-height:43px;
	}
	.list li a i{
		display:none;
	}
}