/*......................................................断点1*/
@media only screen and (max-width:1000px ) {
	.containter{
		width:97%;
	}
	.list{
		width:28.45360824742268%;
		padding-right:1.75257731958763%;
		margin-right:38px;
	}
	.content{
		width:67.11340206185567%;
	}
	.text{
		width:100%;
	}
	.text img{
		width:100%;
	}
}
/*........................................................断点2*/
@media only screen and (max-width:760px ) {
	.containter{
		width:94.73684210526316%;
		flex-wrap:wrap;
	}
	.list{
		width:100%;
		/*float:left;*/
		border:none;
		padding:0;
		margin:0;
		height:94px;
	}
	.list li{
		width:50%;
		height:94px;
		text-align:center;
		float:left;
		padding-left:0;
		padding-top:28px;
		background: url(../images/xygk_02.jpg) no-repeat center 0;
	}
	.list .active,.list li:hover{
		background:url(../images/xygk_03.jpg) no-repeat center 0;
		border-bottom:4px solid #fa9634;
	}
	.list li:last-of-type{
		background:url(../images/xygk_06.jpg) no-repeat center 0;
	}
	.list li:last-of-type:hover,.list li:last-of-type.active{
		background:url(../images/xygk_07.jpg) no-repeat center 0;
		border-bottom:4px solid #fa9634;
	}
	.content{
		width:100%;
		margin:0 auto;
	}
}
/*...............................................................断点3*/
@media only screen and (max-width:480px ) {
	.containter{
		width:93.75%;
	}
}