.banner{
	 width: 100%; 
	 height:auto;
	 margin-left: auto; 
	 margin-right: auto;
	 display:none;
}
.banner ul li{
	max-height:478px;
}
.banner ul li img{ 
	width:100%;
	max-height:478px;
}
.containter{
	width:1030px;
	margin:0 auto;
	display:flex;
	padding:40px 0 78px 0;
}
.list{
	width:26.50485436893204%;
	padding-right:1.6504854368932%;
	border-right:1px solid #bababa;
	margin-right:48px;
	height:486px;
}
.list li{
	border-bottom:4px solid transparent;
	height:81px;
	padding-left:20px;
}
.list li:hover{
	border-bottom:4px solid #fa9634;
}
.list li span{
	display:block;
	width:40px;
	height:43px;
	float:left;
	margin-top:18px;
	margin-right:10px;
}
.list li:first-of-type span{
	background:url(../images/xsjx_1.gif) no-repeat center center;
}
.list li:nth-of-type(2) span{
	background:url(../images/hy_1.gif) no-repeat center center;
}
.list li:nth-of-type(3) span{
	background:url(../images/ydh_1.gif) no-repeat center center;
}
.list li:nth-of-type(4) span{
	background:url(../images/dxs_.gif) no-repeat center center;
}
.list li:nth-of-type(5) span{
	background:url(../images/hj_1.gif) no-repeat center center;
}
.list li:nth-of-type(6) span{
	/*background:url(../images/sdwh_1.gif) no-repeat center center;*/
}

.list li:first-of-type:hover span{
	background:url(../images/xsjx.gif) no-repeat center center;
}
.list li:nth-of-type(2):hover span{
	background:url(../images/hy.gif) no-repeat center center;
}
.list li:nth-of-type(3):hover span{
	background:url(../images/ydh.gif) no-repeat center center;
}
.list li:nth-of-type(4):hover span{
	background:url(../images/dxs.gif) no-repeat center center;
}
.list li:nth-of-type(5):hover span{
	background:url(../images/hj.gif) no-repeat center center;
}
.list li:nth-of-type(6):hover span{
	background:url(../images/sdwh.gif) no-repeat center center;
}
.list .active{
	border-bottom:4px solid #fa9634;
}
.active span{
	background:url(../images/sdwh.gif) no-repeat center center;
}
.list li a{
	display:block;
	font-size:22px;
	color:#222222;
	line-height:77px;
	float:left;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list li a i{
	font-style:normal;
}
.flexslider{
	width:68.54368932038835%;
}
.flexslider p:first-of-type{
	padding-top:150px;
}
.flexslider p{
	text-indent:2em;
	font-size:16px;
	color:#000;
	line-height:30px;
}
/*............................................................断点1*/
@media only screen and (max-width:1040px ) {
	.banner{
		display:block;
	}
	.containter{
		width:96.15384615384615%;
	}
	.slides{
		display:none;
	}
	.flexslider{
		width:69%;
	}
	.flexslider p:first-of-type{
		padding:0;
	}
	.flex-control-nav{
		display:none;
	}
}
/* flexslider */

.flexslider {
	position: relative;
	overflow: hidden;
	background: url(images/loading.gif) 50% no-repeat;
	max-width: 1280px;
}

.slides{
	position: relative;
	z-index: 1;
}

.slides li {
	height: 400px;
	background-size:100% !important;
}
.flex-control-nav {
	position:absolute;
	top:400px;
	z-index: 2;
	width: 100%;
	text-align: center;
	background:url(../images/r.png) repeat-x;
}

.flex-control-nav li {
	display: inline-block;
	width:138px;
	height:90px;
	margin:0;
	*display: inline;
	zoom: 1;
	padding:0 14px;
	overflow:hidden;
}

.flex-control-nav a {
	color:transparent;
	display: inline-block;
	width:110px;
	height:90px;
	overflow: hidden;
	cursor: pointer;
	opacity:.5;
}
.flex-control-nav a:hover{
	opacity:1;
}

.flex-control-nav li:first-of-type a{
	background:url(../images/sdwh_1.jpg) no-repeat center center;
	background-size:100%;
}
.flex-control-nav li:nth-of-type(2) a{
	background:url(../images/sdwh_2.jpg) no-repeat center center;
	background-size:100%;
}
.flex-control-nav li:nth-of-type(3) a{
	background:url(../images/sdwh_3.jpg) no-repeat center center;
	background-size:100%;
}
.flex-control-nav li:nth-of-type(4) a{
	background:url(../images/sdwh_4.jpg) no-repeat center center;
	background-size:100%;
}
.flex-control-nav li:nth-of-type(5) a{
	background:url(../images/sdwh_5.jpg) no-repeat center center;
	background-size:100%;
}
.flex-control-nav .flex-active{
	/*background-position: 0 0;*/
	opacity:1;
	/*background: url(../images/i_i.png) no-repeat center top !important;*/
}
.flex-direction-nav {
	position: absolute;
	z-index: 3;
	width: 100%;
	top: 45%;
}

.flex-direction-nav li a {
	display: block;
	width: 50px;
	height: 50px;
	overflow: hidden;
	cursor: pointer;
	position: absolute;
}

.flex-direction-nav li a.flex-prev {
	left: 40px;
	/*background: url(images/prev.png) center center no-repeat;*/
}

.flex-direction-nav li a.flex-next {
	right: 40px;
	/*background: url(images/next.png) center center no-repeat;*/
}
@media only screen and (max-width:760px ) {
	.containter{
		width:94.73684210526316%;
		flex-wrap:wrap;
		padding:20px 0 41px 0;
	}
	.list{
		width:100%;
		margin:0;
		border:none;
		padding:0;
		height:225px;
	}
	.list li{
		width:33.3333333333333%;
		float:left;
		padding:10px 0 0 0;
		height:103px;
	}
	.list li a{
		width:100%;
		font-size:20px;
		text-align:center;
		line-height:55px;
	}
	.list li span{
		margin:0 auto;
		float:none;
	}
	.flexslider{
		width:100%;
	}
	.list li:hover{
		border-bottom:4px solid transparent;
	}
}
@media only screen and (max-width:480px ) {
	.containter{
		width:93.75%;
		padding:20px 0 41px 0;
	}
	.list li{
		height:94px;
		padding-top:10px;
	}
	.list li a{
		font-family:"宋体";
		font-size:16px;
		line-height:43px;
	}
	.list li a i{
		display:none;
	}
	.flexslider p{
		font-size:14px;
		font-family: simsun;
	}
	.bx-wrapper .bx-pager.bx-default-pager a {
		background: #fff;
		text-indent: -9999px;
		display: block;
		width: 30px;
		height: 4px;
		margin: 0 16px 0 0;
		outline: 0;
	}
}