/*//////////////////////////////////////////////////////////////////////断点1*/
@media only screen and (max-width:1000px) {
	header{
		position:static;
	}
	.box{
		display:none;
	}
	.head{
		width:97%;
		margin:0 auto;
		padding:0 35px;
	}
	.head h1{
		width:17.52577319587629%;
	}
	.head h1 img{
		width:100%;
	}
	.head ul{
		display:none;
	}
	header .head .menu{
		display:block;
		margin-top:19px;
	}
	header .head>p{
		display:block;
	}
	.service{
		width:97%;
		margin:0 auto;
		padding:0 0 37px 0;
	}
	.service section>p{
		overflow: hidden;
    	text-overflow: ellipsis;
   		white-space: nowrap;
	}
	.service h1{
		font-size:29px;
		height:103px;
		line-height:103px;
		margin-bottom:17px;
	}
	.course,.campus,.star,.works,.employment{
		width:97%;
	}
	.course h1,.works h1,.campus h1,.star h1,.employment h1{
		font-size:29px;
		height:29px;
		line-height:29px;
	}
	.course ul{
		margin-top:29px;
	}
	.campus ul li p{
		overflow: hidden;
    	text-overflow: ellipsis;
   		white-space: nowrap;
	}
	.campus ul li:nth-of-type(n+3) p{
		margin-bottom:52px;
	}
	.works ul{
		margin:29px 0 38px 0;
	}
	.works ul li div{
		display:none;
	}
	.star ul{
		margin:30px 0 37px 0;
	}
	.star ul li div{
		display:none;
	}
	.bottom{
		width:80%;
		margin:0 auto;
	}
	.bottom li{
		width:50% !important;
		margin-bottom:18px;
	}
}
/*/////////////////////////////////////////////////////////////////断点2*/
@media only screen and (max-width:760px) {
	header{
		height:60px;
	}
	header .head ul{
		display:none;
	}
	.head{
		width:96.05263157894737%;
		margin:0 auto;
		padding:0 23px;
	}
	.head h1{
		width:20.68493150684932%;
	}
	.head li a{
		height:30px;
		line-height:30px;
	}
	.box{
		height:60px;
	}
	.head h1{
		height:60px;
		line-height:60px;
	}
	.head li a{
		height:60px;
		line-height:60px;
	}
	.head>p{
		font-size:28px;
		height:60px;
		line-height:60px;
	}
	header .head .menu{
		width:102px;
		height:32px;
		margin-top:14px;
	}
	.menu p{
		height:30px;
		line-height:30px;
		margin:0 9px 0 11px;
	}
	.hidden li{
		width:25%;
		margin-right:0;
	}
	.hidden li a{
		height:40px;
		line-height:40px;
	}
	.head .menu>img{
		padding-top:6px;
	}
	.service{
		width:96.05263157894737%;
		padding-top:25px;
		padding-bottom:26px;
	}
	.service h1{
		font-size:24px;
		height:24px;
		line-height:24px;
		margin-bottom:16px;
	}
	.service ul li{
		padding-bottom:10px;
		padding-left:0;
	}
	.service aside{
		width:100%;
		clear:both;
		margin-bottom:19px;
		margin-right:0;
	}
	.service section{
		clear:both;
	}
	.service section h3{
		width:100%;
		text-align:center;
		font-size:18px;
		height:17px;
		line-height:17px;
		margin-bottom:0;
	}
	.service section h3>span{
		display:none;
	}
	.service section p{
		display:none;
	}
	.course h1{
		font-size:24px;
	}
	.course ul{
		margin-top:17px;
	}
	.course ul li{
		padding:10px 0;
	}
	.course ul,.course ul li{
		border:none;
	}
	.course ul li .bx-hidden{
		display:none;
	}
	.course ul li>p{
		font-size:18px;
	}
	.course ul li span{
		width:49.31506849315069%;
	}
	.campus{
		width:96.05263157894737%;
	}
	.campus .text{
		margin:41px 0 0 0;
	}
	.campus h1,.works h1,.star h1,.employment h1{
		font-size:24px;
		height:24px;
		line-height:24px;
		margin-bottom:17px;
	}
	.campus ul li{
		width:48.63013698630137%;
		margin-right:2.73972602739726%;
		padding-right:7.53424657534247%;
	}
	.campus ul li:nth-of-type(even){
		margin-right:0;
	}
	.campus ul li:nth-of-type(3n){
		width:48.63013698630137%;
		padding-right:7.53424657534247%;
	}
	.campus ul li p{
		margin-bottom:34px;
	}
	.campus ul li:nth-of-type(n+3) p{
		margin-bottom:34px;
	}
	.campus .button{
		display:block;
	}
	.campus .overflow{
		display:none;
	}
	.works,.star,.employment{
		width:96.05263157894737%;
	}
	.works ul{
		margin:17px 0 0 0;
	}
	.works ul li{
		width:23.97260273972603%;
		margin-right:1.36986301369863%;
		margin-bottom:10px;
	}
	.works ul li:nth-of-type(4n){
		margin-right:0;
	}
	.works ul .over{
		display:none;
	}
	.works .btn{
		display:block;
	}
	.star ul li{
		width:32.42009132420091%;
		margin-right:1.36986301369863%;
	}
	.star ul li:nth-of-type(4n){
		margin-right:1.36986301369863%;
	}
	.star ul li:nth-of-type(3n){
		margin-right:0;
	}
	.star .more,.employment .more1{
		display:block;
	}
	.star ul{
		margin:0;
	}
	.star ul .over1,.employment ul .over2{
		display:none;
	}
	.employment ul{
		margin:17px 0 0 0;
	}
	.employment ul li{
		width:22.43150684931507%;
		margin-right:3.42465753424658%;
	}
	.employment ul li:nth-of-type(6n){
		margin-right:3.42465753424658%;
	}
	.employment ul li:nth-of-type(4n){
		margin-right:0;
	}
	.employment ul .show1{
		display:none;
	}
	.bottom li{
		margin-bottom:28px;
	}
}
@media only screen and (max-width:680px ) {
	.campus ul li{
		width:48.63013698630137%;
		margin-right:2.73972602739726%;
		padding-right:0;
	}
	.campus ul li:nth-of-type(3n){
		width:48.63013698630137%;
		padding-right:0;
	}
}
/*///////////////////////////////////////////////////////////////////断点3*/
@media only screen and (max-width:480px ) {
	body{
	padding-bottom:70px;
	}
	.head{
		width:93.75%;
		margin:0 auto;
		padding:0 9px;
	}
	.head h1{
		width:26.66666666666667%;
	}
	header .head>p{
		display:none;
	}
	.head h1 img{
		width:100%;
	}
	header .head .menu{
		width:35px;
		height:35px;
		margin-top:14px;
	}
	.head .menu>img{
		padding-top:7px;
		padding-left:4px;
	}
	.menu>p{
		display:none;
	}
	.hidden li{
		width:50%;
	}
	.service,.course,.star,.employment{
		width:93.75%;
	}
	.course ul li{
		width:50%;
	}
	.course ul li span{
		width:50.78651685393258%;
	}
	.campus ul li{
		width:47.77777777777778%;
		margin-right:4.44444444444444%;
		padding-right:0;
	}
	.campus ul li:nth-of-type(even){
		margin-right:0;
	}
	.campus ul li:nth-of-type(3n){
		width:47.77777777777778%;
		padding-right:0;
	}
	.campus ul li p{
		display:none;
	}
	.campus ul li h4{
		margin:14px 0 13px 0;
	}
	.works ul li{
		width:31.85185185185185%;
		margin-right:2.22222222222222%;
		margin-bottom:10px;
	}
	.works ul .show{
		display:block;
	}
	.works ul li:nth-of-type(4n){
		margin-right:2.22222222222222%;
	}
	.works ul li:nth-of-type(3n){
		margin-right:0;
	}
	.star ul,.employment ul{
		margin:17px 0 0 0;
	}
	.star ul li{
		width:48.88888888888889%;
		margin-right:2.22222222222222%;
	}
	.star ul li:nth-of-type(4n){
		margin-right:2.22222222222222%;
	}
	.star ul li:nth-of-type(3n){
		margin-right:2.22222222222222%;
	}
	.star ul li:nth-of-type(2n){
		margin-right:0;
	}
	.employment ul li{
		width:31.85185185185185%;
		margin-right:2.22222222222222%;
	}
	.employment ul li:nth-of-type(6n){
		margin-right:2.22222222222222%;
	}
	.employment ul li:nth-of-type(4n){
		margin-right:2.22222222222222%;
	}
	.employment ul li:nth-of-type(3n){
		margin-right:0;
	}
	.employment ul .show1{
		display:block;
	}
	footer{
		display:none;
	}
	.gengduo{
		display:block;
	}
	.bx-wrapper .bx-pager,
	.bx-wrapper .bx-controls-auto {
		position: absolute;
		bottom:0px;
		width: 100%;
	}
	.bx-wrapper .bx-pager.bx-default-pager a {
		width:30px;
		height:4px;
	}
}